[submodule "purescript-web3"]
	path = purescript-web3
	url = https://github.com/f-o-a-m/purescript-web3
[submodule "purescript-web3-generator"]
	path = purescript-web3-generator
	url = https://github.com/f-o-a-m/purescript-web3-generator
